
.btn{
     background-color: #1960ca;
     color: white;
     border: 0px;
     padding: 10px;
     margin: 20px 0px 0px 20px;
}
.btn:hover {
     background-color: #1960caa5;
}
.name{
     width: 50%;
     height: 30px;
}
.add{
     font-size: 30px;
     color: black;
}